html {
 /* background: #fff; */
  color: #fff;
 /* font-family: monospace; */
  font-family: Comic Sans MS;
  font-size: 1rem;
}

body {
  background-image: url("../epic.png");
  background-repeat: repeat;

}

.text-rainbow-animation {
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 100s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

a {
  color: white;
}

.back {
  position: fixed;
  margin: 1rem;
  left: 0;
  top: 0;
}

.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  bottom: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mechanic {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.links {
  width: 100%;
  margin-top: 2rem;
}